.cartProducts {
  display: flex;
  margin: 1rem;
  justify-content: space-between;
  text-align: right;
}

.cartProducts h1 {
  font-size: 1.2rem;
  border-bottom: 1px solid black;
}

.cartImg {
  min-width: 150px;
  min-height: 200px;
  position: relative;
}

.removeBtn {
  text-decoration: underline;
  font-size: 16px;
}

.checkoutBtn {
  position: relative;
  right: 1rem;
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

.cartPage {
  display: flex;
}

.itemsContainer {
  width: 70vw;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
}

.cartSummary {
  display: flex;
  flex-direction: column;
  width: 30vw;
  padding: 0.3rem 1rem;
}
.quantityAdjuster button {
  border-radius: 4px;
  background-color: black;
  color: white;
  margin: 0 1rem;
  width: 30px;
  height: 30px;
}

.quantityAdjuster button {
  border-radius: 4px;
  background-color: black;
  color: white;
  margin: 0 1rem;
  width: 30px;
  height: 30px;
}
