@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 2rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.productImg {
  object-fit: contain;
}

header {
  height: 80px;
  background-color: white;
  z-index: 200;
}

.primary-nav {
  height: 100%;
}

#__next {
  position: relative;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.nav-list,
.nav-list li {
  height: 100%;
}

.logo {
  position: relative;
  width: 100px;
  height: 80px;
}

.nav-list li {
  display: flex;
  justify-content: center;
  min-width: 120px;
  align-items: center;
  cursor: pointer;
}

.collectionsImg {
  width: auto;
  height: auto;
}

.nav-icon {
  background-color: rgb(238, 238, 238);
  padding: 5px;
  border-radius: 5px;
}

.bannerContainer {
  position: relative;
  width: 100vw;
  height: 300px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
