.productContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 4rem;
}

.imgContainer {
  position: relative;
  width: 500px;
  height: 600px;
}

.sizes_selection {
  margin-top: 2rem;
}

.sizes_selection button {
  margin: 0 1rem;
  padding: 0.2rem 1rem;
  border: 0.5px solid black;
}

.productInfo {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
