.bread-crumbs {
  display: flex;
  font-size: 12px;
  gap: 0.3rem;
  margin-left: 2.7rem;
}

.product-banner {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.breadNav {
  margin-top: 5rem;
}

.filterNav {
  display: flex;
  align-items: center;
}

.filterList {
  display: flex;
  margin: 2rem 0;
}

.filterList li {
  padding: 0.4rem 1rem;
  margin: 0 0.7rem;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 6px;
  cursor: pointer;
}

.filterList li:active {
  background-color: rgb(172, 172, 172);
}

.filterDropDown {
  padding: 10px;
  background-color: inherit;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  max-height: 50px;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  padding: 0 2rem;
  justify-content: space-evenly;
}

.imgContainer {
  position: relative;
  width: 350px;
  height: 400px;
}

.productBox {
  text-align: right;
}

.productBox:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 0.1s;
}

@media only screen and (max-width: 750px) {
  .productBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imgContainer {
    max-width: 150px;
    max-height: 200px;
  }
}
